// adds fade effect at top/bottom of scroll container
@mixin with-fade($placement: "top", $height: 40px, $color: white) {
  width: 100%;
  --fade-height: #{$height};
  height: var(--fade-height);

  @if $placement == "top" {
    --direction: 180deg;
  } @else if $placement == "bottom" {
    --direction: 0deg;
  }

  background-image: linear-gradient(var(--direction), $color, transparent);
}

// adds ellipsis on text that is too long
@mixin with-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// limit text container to specified number of lines
@mixin limit-text-lines($lines: 2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

// uses 2 background to create the effect of a gradient border
@mixin gradient-border(
  $background-gradient: linear-gradient(var(--color-white), var(--color-white)),
  $border-gradient: linear-gradient(var(--color-grey-300), var(--color-white)),
  $border-width: 5px,
  $border-radius: var(--border-radius-lg)
) {
  background: $background-gradient padding-box, $border-gradient border-box;
  border: $border-width solid transparent;
  border-radius: $border-radius;
}